#### This Jupyter notebook is used to create HazardAhead and other Tiger Graph Analytics sample data

sample data created in this notebook does not use any proprietary/license data, however, most of the examples/samples generated use all available free data samples from internet.

In [35]:
using DataFrames, CSV, Dates, Distributions

In [84]:
sampleSizeVisitor = 1000
visitorDF = DataFrame(
    id = 1:1:sampleSizeVisitor, 
    bookDate = rand(Date("2020-04-01", dateformat"y-m-d"): Day(1): Date("2020-04-10", dateformat"y-m-d"), sampleSizeVisitor),
    name = "Last First Name M.",
    phoneNo = rand(1110000000:1:9988800000, sampleSizeVisitor), 
    age = rand(9:1:78, sampleSizeVisitor), 
    gender = rand(["Male","Female","Others","NA"], sampleSizeVisitor),
    checkIn = rand(Date("2020-04-01", dateformat"y-m-d"): Day(1): Date("2020-04-10", dateformat"y-m-d"), sampleSizeVisitor),
    checkOut = rand(Date("2020-04-01", dateformat"y-m-d"): Day(1): Date("2020-04-10", dateformat"y-m-d"), sampleSizeVisitor),
    specialNeeds = rand([0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1], sampleSizeVisitor), # biased distributions, mostly false
    race = "na",
    price = rand(Normal(100, 2), sampleSizeVisitor), 
    accompanies = rand([1,2,3,4], sampleSizeVisitor),
    family = rand([0,1], sampleSizeVisitor),
    localResident = rand([0,1], sampleSizeVisitor),
    ADDRESS = "Not available",
    )
# CSV.write("sampleData/visitors.csv", visitorDF)

1000×15 DataFrame
  Row │ id     bookDate    name                phoneNo     age    gender  chec ⋯
      │ Int64  Date        String              Int64       Int64  String  Date ⋯
──────┼─────────────────────────────────────────────────────────────────────────
    1 │     1  2020-04-01  Last First Name M.  8373319834     52  Female  2020 ⋯
    2 │     2  2020-04-05  Last First Name M.  1899451981     20  Others  2020
    3 │     3  2020-04-04  Last First Name M.  7333592644     28  NA      2020
    4 │     4  2020-04-09  Last First Name M.  8947398188     18  Male    2020
    5 │     5  2020-04-05  Last First Name M.  1925559722     38  Others  2020 ⋯
    6 │     6  2020-04-08  Last First Name M.  9929036408     49  NA      2020
    7 │     7  2020-04-06  Last First Name M.  9049560307     78  Male    2020
    8 │     8  2020-04-10  Last First Name M.  4888261095     35  Female  2020
    9 │     9  2020-04-09  Last First Name M.  8933904310     41  NA      2020 ⋯
   10 │    10  2020-04-02  Last First Name M.  6820414171     70  NA      2020
   11 │    11  2020-04-04  Last First Name M.  8587403353     59  Others  2020
  ⋮   │   ⋮        ⋮               ⋮               ⋮         ⋮      ⋮          ⋱
  991 │   991  2020-04-08  Last First Name M.  7572314982     38  Female  2020
  992 │   992  2020-04-10  Last First Name M.  9605210384     25  Others  2020 ⋯
  993 │   993  2020-04-06  Last First Name M.  3138789884     51  Male    2020
  994 │   994  2020-04-03  Last First Name M.  5086603151     64  Female  2020
  995 │   995  2020-04-05  Last First Name M.  2964859260     19  NA      2020
  996 │   996  2020-04-06  Last First Name M.  5800516819     30  Male    2020 ⋯
  997 │   997  2020-04-07  Last First Name M.  6697721416     75  Female  2020
  998 │   998  2020-04-05  Last First Name M.  1239877480     45  NA      2020
  999 │   999  2020-04-04  Last First Name M.  1659337571     73  Female  2020
 1000 │  1000  2020-04-05  Last First Name M.  8241764700     34  Others  2020 ⋯
                                                  9 columns and 979 rows omitted

In [81]:
sampleSize = 20
rideDF = DataFrame(
    id = 1:1:sampleSize, 
    name = "Joy Ride",
    indoor = rand([0,1], sampleSize),
    inlets = rand([1,2,3,4], sampleSize),
    outlets = rand([1,2,3,4], sampleSize),
    temperature = rand(64:1:94, sampleSize),
    avgWaitTime = rand(5:1:110, sampleSize),
    popularityRating = rand(1:1:10, sampleSize),
    rideType = rand(["Adult","Teen","Kids", "YoungAdult"], sampleSize),
    rideClass = rand(["Luxury", "Special"], sampleSize),
    maturityRating = rand(1:1:10, sampleSize),
    numExits = rand([1,2,3,4], sampleSize),
    area = rand(5000:5:15000, sampleSize),
    numEmployees = rand(1:1:5, sampleSize)
    )
# CSV.write("sampleData/ride.csv", rideDF)

"ride.csv"

In [83]:
sampleSize = 20
foodcourtDF = DataFrame(
    id = 1:1:sampleSize, 
    name = "Joy Ride",
    indoor = rand([0,1], sampleSize),
    inlets = rand([1,2,3,4], sampleSize),
    outlets = rand([1,2,3,4], sampleSize),
    temperature = rand(64:1:94, sampleSize),
    avgWaitTime = rand(5:1:110, sampleSize),
    popularityRating = rand(1:1:10, sampleSize),
    foodType = rand(["Fast","Formal","Snacks"], sampleSize),
    numExits = rand([1,2,3,4], sampleSize),
    area = rand(5000:5:15000, sampleSize),
    numEmployees = rand(1:1:15, sampleSize)
    )
# CSV.write("sampleData/foodcourt.csv", foodcourtDF)

"sampleData/foodcourt.csv"

In [87]:
ridesDF = DataFrame(
    From = 1:1:sampleSizeVisitor, # visitor number
    To = rand(1:1:sampleSize, sampleSizeVisitor), # ride number
    rideTime = rand(Date("2020-04-01", dateformat"y-m-d"): Day(1): Date("2020-04-10", dateformat"y-m-d"), sampleSizeVisitor),
    )
# CSV.write("sampleData/rides.csv", ridesDF)

"sampleData/rides.csv"

In [89]:
eatsDF = DataFrame(
    From = 1:1:sampleSizeVisitor, # visitor number
    To = rand(1:1:sampleSize, sampleSizeVisitor), # food court number
    rideTime = rand(Date("2020-04-01", dateformat"y-m-d"): Day(1): Date("2020-04-10", dateformat"y-m-d"), sampleSizeVisitor),
    )
# CSV.write("sampleData/eats.csv", eatsDF)

"sampleData/eats.csv"

In [90]:
accompaniedDF = DataFrame(
    From = 1:1:sampleSizeVisitor, # visitor number
    To = rand(1:1:sampleSizeVisitor, sampleSizeVisitor)
    )
# CSV.write("sampleData/accompanied.csv", accompaniedDF)

"sampleData/accompanied.csv"

In [93]:
##############################################
# let's create weather data
##############################################
using DataFrames, CSV, Dates, Distributions
sampleSize = 365
weatherDF = DataFrame(
    cityid = 1:1:sampleSize, 
    state = rand(["LA","LA","FL"], sampleSize),
    indoorTemp = rand(64:1:94, sampleSize),
    outdoorTemp = rand(64:1:94, sampleSize),
    wind = rand(5:1:30, sampleSize),
    humidity = rand(30:1:70, sampleSize),
    precipitation = rand(0:1:5, sampleSize)
    )

first(weatherDF, 5)
# CSV.write("sampleData/weather.csv", weatherDF)

"sampleData/weather.csv"